/* ROOT */
:root {
    --blue: #1976D2;
    --blue-hover: #2485E5;
    --light-ui: #FFFFFF;
    --light-ui-hover: #EFEFEF;
    --dark-ui: #000000;
    --dark-ui-hover: #333333;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../images/IMG_5775.JPG");
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
}

header * {
  color: white;
}

header > h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bolder;
}

header > p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

header > button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: var(--blue);
  color: var(--light-ui);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms;
}

header > button:hover {
  background-color: var(--blue-hover, #2485E5);
  transform: scale(1.05);
}

/* SECTION HEADERS */
h2 {
    font-size: 1.6rem;
    text-align: center;
    margin: 2rem 1rem 1rem;
    color: var(--dark-ui);
}

/* COMPARISON SECTION */
.comparisonDeck {
  width: 95vw;
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.comparisonCard {
  flex: 1;
  padding: 10px 20px 10px 10px;
  border: 0;
  min-width: 200px;
  border-radius: 10px;
  margin: 12px;
}

.comparisonHeader {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 10px;
}

.comparisonList {
  list-style-position: inside;
  list-style-type: disc;
}

.comparisonList > li {
  margin-bottom: 5px;
}

/* HOW IT WORKS */
.howDeck {
  display:flex; 
  flex-wrap: wrap;
  justify-content:center; 
  gap:60px; 
  align-items:stretch;
  width: 95vw;
  max-width: 1000px;
  margin: auto;
}

.howCard {
  background-color: #FFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding:30px; 
  border-radius:10px; 
  width:400px;
}

.howHeader {
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.howList {
  list-style-position: inside;
  list-style-type: decimal;
}

.howList > li {
  margin-bottom: 10px;
  line-height: 1.2;
}

/* QUESTION CARD */
.questionDeck {
  width: 95vw;
  margin: auto;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.questionCard {
  background-color: #FFF;
  padding: 10px;
  border: 0;
  border-radius: 0.5rem;
}

.questionCard > summary {
  font-weight: bold;
  margin-bottom: 10px;
}