/* ROOT */
:root {
    --blue: #1976D2;
    --blue-hover: #2485E5;
    --light-ui: #FFFFFF;
    --light-ui-hover: #EFEFEF;
    --dark-ui: #000000;
    --dark-ui-hover: #333333;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
}

/* SECTION HEADER */
h2 {
    font-size: 1.6rem;
    text-align: center;
    margin: 3rem 5rem;
    color: var(--dark-ui);
}

/* PRODUCT SECTION */
.productDeck {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 5rem;
    width: 95vw;
    max-width: 1200px;
}

.productCard {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.productTitle {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--dark-ui);
}

.productDesc {
    font-size: 1rem;
    color: var(--dark-ui);
    text-align: center;
}

.productButton {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: var(--blue);
    color: var(--light-ui);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms;
}

.productButton:hover {
    background-color: var(--blue-hover, #2485E5);
    transform: scale(1.05);
}

.productIcon {
    width: 80px;
    height: 80px;
}
