/* ROOT */
:root {
    --blue: #1976D2;
    --blue-hover: #2485E5;
    --light-ui: #FFFFFF;
    --light-ui-hover: #EFEFEF;
    --dark-ui: #000000;
    --dark-ui-hover: #333333;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
}

/* XXX */


nav a:hover {
    color: black;
    font-size: 1.5em;
    text-decoration: underline;
}

img {
    margin: 1em 1em 1em 1em;
}

h2 {
    margin: 4em 1em 3em 1em;
}

p {
    margin-bottom: 1em;

}

body{
    background-image: url('../images/nature.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    background-size:cover;
}

.boite{
    background-color:rgb(202, 223, 234);
    border-radius: 0 0.5em 0 0.5em;
}

button{
    background-color: #5b7896;
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-radius: 0.5em;
    color: white;
    border: none;
    

}
button:hover {
    color: #000000;
    font-size: 0.9em;
    text-decoration: underline;
}
footer{
    margin:0;
    padding:0;

}
p.foot{
    bottom: 0;
    margin:0;
    padding:0;
}

