/*website design and color*/
.main{
    margin:auto;
}
.intro{
    padding:12px;
    width: 90vw;
    max-width: 1250px;
    margin: auto;
}
/*used for each team member */

.memberSection {
    width: 90vw;
    max-width: 1250px;
    margin: auto;
}

.member{
    margin-top: 3rem;
    padding:12px;
}
/*profile image details */
.image{
    float:left;
    width:16%;
}
.image img{
    width:80%;
    height:80%;
    float:center;
    border-radius: 50%;

}
/*member descriptions*/
.text p{
    width:98%
}
.text{
    float:right;
    width:84%;
}
/*Linkedin and email logos*/
.text img{
    height:30px;
    width:30px;
}
/*clears previous floats */
.clear-floats{
    clear:both;
}



